.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  height: fit-content;
}

.main span 
{
  padding: 0;
  margin-left: 5px;
}

.container 
{
    display: flex;
    border:solid;
    border-color:black;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    width: 100vw;
}

.container *
{
    display: flex;
    flex: 10px;
    padding: 5px;
}

.container p 
{
    font-size: 10px;
}

.left
{
    border: solid;
    flex: 20%;
}

.right 
{
    border: solid;
    flex: 100%;
    display: flex;
    flex-direction: column;
}