.empty
{
    display: flex;
    /* flex: 100%; */
    flex-grow: 1;
    width: 100vw;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 0%;
    /* border: solid; */
    align-items: center;
    padding: 0;
    align-items: center;
}