.cart-summary
{
    display: flex;
    flex-direction: column;
    flex: 20;
    border: solid;
    margin-top: 0;
    min-height: 500px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.description
{
    padding: 10px 40px;
    border: solid;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 120px;
    max-height: fit-content;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.item-list ul
{
    padding: 3px 10px 7px;
    font-size: 11px;
}

.title
{
    margin: 10px;
    font-weight: bold;
}