.product-list
{
    display: flex;
    border: solid;
    border-color: black;
    flex-direction: column;
    flex: 100%;
    padding: 1em 0;
    margin: 5px 5px 5px;

}

.inside-list
{
    display: flex;
    flex: column wrap;
    flex-wrap: wrap;
    justify-content:space-around;
}