.footer {
    border:solid;
    background-color: antiquewhite;
    color:black;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    font-weight:bold;
}

.footer li {
    border:solid;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
    display:inline-block;
}