.container 
{
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    border:solid;
    border-color:black;
    background-color: antiquewhite;
    color: black;
    min-height: 100vh;
    min-width: 100vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.container p 
{
    display: flex;
    flex: 1;
    /* border: solid; */
    max-height: 50px;
    margin: 10px 20px 0;
    justify-content: center;
    align-items: center;
    font-size:x-large;
}

.container form.login
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    border: solid;
    max-height: 400px;
    max-width: 1000px;
    margin: 10px 20px 0;
    font-weight: bold;
}

.container form.signup
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    border: solid;
    max-height: 500px;
    max-width: 1000px;
    margin: 10px 20px 0;
    font-weight: bold;
}

.container form input
{
    flex: 1;
    max-height: 30px;
    min-height: 30px;
    width: 600px;
    margin: 0 20px 0;
    background-color: antiquewhite;
    border: solid;
    padding: 5px;
}

.container * 
{
    color: black;
    font-weight: bold;
}

.container form *
{
    margin: 20px 0 0;
}

.container form label
{
    margin-bottom: 10px;
}

.container span button
{
    border:solid;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
    display:inline-block;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}