.form {
    border:solid;
    background-color: antiquewhite;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 35vh;
    padding:1rem;
    font-weight:bold;
}

.form input {
    background-color: aliceblue;
}