.container 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-color:black;
    background-color: antiquewhite;
    color: black;
    min-height: 100vh;
    min-width: 100vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
}