.cta {
    border:solid;
    border-color: black;
    background-color: antiquewhite;
    color:black;
    padding: 1rem;
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width:15%;
    height:3rem;
 
}

.cta button {
    background-color: antiquewhite;
    border:none;
    color:black;
    font-size: 1.3rem;
}