.card 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 250px;
    flex-basis: auto;
    /* display:inline; */
    border: solid;
    border-color: black;
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
    margin: 10px 10px 10px;
}
.div-product-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.img {
    width: 40%;
    height: 40%;
}